$primary-color: #39cdcc;
$hover-color: #0056b3;

.custom_button {
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: Avenir Next;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  letter-spacing: 0.1em;
  text-align: center;
}
